# ValidationResult - методы
 

Тип <a href="T_OptimisationTasks_Utilites_ValidationResult">ValidationResult</a> предоставляет следующие члены.


## Методы
&nbsp;<table><tr><th></th><th>Имя</th><th>Описание</th></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/2dts52z7" target="_blank">Equals</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/y3509fc2" target="_blank">GetHashCode</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/dfwy45w9" target="_blank">GetType</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/e5kfa45b" target="_blank">Object</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/wb77sz3h" target="_blank">ToString</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr></table>&nbsp;
<a href="#validationresult---методы">В начало страницы</a>

## См. также


#### Ссылки
<a href="T_OptimisationTasks_Utilites_ValidationResult">ValidationResult - Структура</a><br /><a href="N_OptimisationTasks_Utilites">OptimisationTasks.Utilites - пространство имён</a><br />