# ValidationResult - свойства
 

Тип <a href="T_OptimisationTasks_Utilites_ValidationResult">ValidationResult</a> предоставляет следующие члены.


## Свойства
&nbsp;<table><tr><th></th><th>Имя</th><th>Описание</th></tr><tr><td>![Открытое свойство]( "Открытое свойство")</td><td><a href="P_OptimisationTasks_Utilites_ValidationResult_ErrorIn">ErrorIn</a></td><td /></tr><tr><td>![Открытое свойство]( "Открытое свойство")</td><td><a href="P_OptimisationTasks_Utilites_ValidationResult_IsValid">IsValid</a></td><td /></tr></table>&nbsp;
<a href="#validationresult---свойства">В начало страницы</a>

## См. также


#### Ссылки
<a href="T_OptimisationTasks_Utilites_ValidationResult">ValidationResult - Структура</a><br /><a href="N_OptimisationTasks_Utilites">OptimisationTasks.Utilites - пространство имён</a><br />