# ValidationResult - структура
 

\[<summary> отсутствует в документации для "T:OptimisationTasks.Utilites.ValidationResult"\]

**Пространство имён:**&nbsp;<a href="N_OptimisationTasks_Utilites">OptimisationTasks.Utilites</a><br />**Сборка:**&nbsp;OptimisationTasksEditor (в OptimisationTasksEditor.exe) Версия: 1.0.0.0 (1.0.0.0)

## Синтаксис

**C#**<br />
``` C#
public struct ValidationResult
```

Тип ValidationResult предоставляет следующие члены.


## Конструкторы
&nbsp;<table><tr><th></th><th>Имя</th><th>Описание</th></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="M_OptimisationTasks_Utilites_ValidationResult__ctor">ValidationResult</a></td><td>
Инициализирует новый экземпляр класса ValidationResult</td></tr></table>&nbsp;
<a href="#validationresult---структура">В начало страницы</a>

## Свойства
&nbsp;<table><tr><th></th><th>Имя</th><th>Описание</th></tr><tr><td>![Открытое свойство]( "Открытое свойство")</td><td><a href="P_OptimisationTasks_Utilites_ValidationResult_ErrorIn">ErrorIn</a></td><td /></tr><tr><td>![Открытое свойство]( "Открытое свойство")</td><td><a href="P_OptimisationTasks_Utilites_ValidationResult_IsValid">IsValid</a></td><td /></tr></table>&nbsp;
<a href="#validationresult---структура">В начало страницы</a>

## Методы
&nbsp;<table><tr><th></th><th>Имя</th><th>Описание</th></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/2dts52z7" target="_blank">Equals</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/y3509fc2" target="_blank">GetHashCode</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/dfwy45w9" target="_blank">GetType</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/e5kfa45b" target="_blank">Object</a>.)</td></tr><tr><td>![Открытый метод]( "Открытый метод")</td><td><a href="http://msdn2.microsoft.com/ru-ru/library/wb77sz3h" target="_blank">ToString</a></td><td> (Унаследован от <a href="http://msdn2.microsoft.com/ru-ru/library/aey3s293" target="_blank">ValueType</a>.)</td></tr></table>&nbsp;
<a href="#validationresult---структура">В начало страницы</a>

## См. также


#### Ссылки
<a href="N_OptimisationTasks_Utilites">OptimisationTasks.Utilites - пространство имён</a><br />